1. What are data structures, and why are they important?

Ans: Data structures are organized ways to store, manage, and access data
     efficiently. They are important because they optimize operations like searching, sorting, inserting, and deleting data, enabling better performance in programming tasks.

2. Difference between mutable and immutable data types with examples

Ans: Mutable: Can be modified after creation (e.g., lists: my_list[0] = 5).

    Immutable: Cannot be modified after creation (e.g., strings: my_str[0] = 'a' raises an error).

3. Main differences between lists and tuples in Python

Ans: Lists: Mutable, slower, and allow changes.

     Tuples: Immutable, faster, and protect data integrity.

4. How dictionaries store data

Ans: Dictionaries store data as key-value pairs. Internally, they use hash
    tables to allow fast access to values using their unique keys.

5. Why use a set instead of a list in Python

Ans: Use a set to store unique elements and remove duplicates automatically.
     Sets also allow fast membership checks compared to lists.

6. What is a string, and how is it different from a list?

Ans: A string is a sequence of characters, immutable in Python. A list is
    mutable and can store elements of different data types.

7. How tuples ensure data integrity

Ans: Tuples are immutable, meaning their data cannot be altered after creation.
     This ensures data remains consistent and secure.

8. What is a hash table, and how does it relate to dictionaries?

Ans: A hash table is a data structure that maps keys to values using hash
     functions. Python dictionaries are implemented as hash tables, enabling fast data retrieval.

9. Can lists contain different data types?

Ans:Yes, lists can contain elements of any data type (e.g., [1, "hello", 3.14]).

10. Why are strings immutable in Python?

Ans: Strings are immutable for efficiency and security, as it allows them to be
     safely shared and reused across the program without unexpected modifications.

11. Advantages of dictionaries over lists for certain tasks

Ans: Dictionaries allow fast lookups using keys and can organize data more
     effectively when key-value relationships are required.

12. How do sets handle duplicate values in Python?

Ans: Sets automatically eliminate duplicate values and only store unique
     elements.

13. Scenario where tuples are preferable over lists

Ans: Use tuples when the data must remain constant, such as coordinates (x, y)
     or configuration settings.

14. How does the “in” keyword work for lists and dictionaries?

Ans: In lists: Checks if the element exists in the list.

     In dictionaries: Checks if the key exists in the dictionary.

15. Can you modify the elements of a tuple? Why or why not?

Ans: No, tuples are immutable. Once created, their elements cannot be changed. This property ensures data consistency.

16. What is a nested dictionary, and an example of its use case?

Ans: A nested dictionary is a dictionary within another dictionary.Example:

     students = {"John": {"age": 20, "grade": "A"}, "Doe": {"age": 22, "grade": "B"}}

    Use case: Storing hierarchical data like student details.

17. Time complexity of accessing elements in a dictionary

Ans: Accessing elements in a dictionary has an average time complexity of O(1)
     due to hash table implementation.

18. Situations where lists are preferred over dictionaries

Ans: Use lists when you only need ordered data storage without key-value
     relationships, like maintaining a sequence of numbers or items.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans: Dictionaries are unordered because their data organization depends on hash
     functions rather than the order of insertion. Retrieval relies on keys, not position.

20. Difference between a list and a dictionary in data retrieval

Ans: List: Retrieve data by position/index.

     Dictionary: Retrieve data by unique keys for faster lookups.

In [ ]:
#1) Write a code to create a string with your name and print it

str1=("Raj")
print(str1)

Raj

In [ ]:

# 2) Write a code to find the length of the string "Hello World"
text = "Hello world"
lenght = len(text)

lenght

11

In [ ]:
# 3) Write a code to slice the first 3 characters from the string "Python Programming

Str3=("Python Programming")
Str3
Str3[0:3]

'Pyt'

In [ ]:
# 4) Write a code to convert the string "hello" to uppercase

str4=("hello")
str4.upper()

'HELLO'

In [ ]:
# 5) Write a code to replace the word "apple" with "orange" in the string "I like apple

str5=("I like apple")
str5.replace("apple","orange")

'I like orange'

In [ ]:
# 6) Write a code to create a list with numbers 1 to 5 and print it

list1=[1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [ ]:
# 7) Write a code to append the number 10 to the list [1, 2, 3, 4]

list2=[1,2,3,4]
list2.append(10)
list2

[1, 2, 3, 4, 10]

In [ ]:
# 8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5

list3=[1,2,3,4,5]
list3.remove(3)
list3

[1, 2, 4, 5]

In [ ]:
#9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list4=["a","b","c","d"]
list4[1]

'b'

In [ ]:
# 10) Write a code to reverse the list [10, 20, 30, 40, 50].
list5=[10,20,30,40,50]
list5.reverse()
list5

[50, 40, 30, 20, 10]

In [ ]:
# 11) Write a code to create a tuple with the elements 10, 20, 30 and print it.

t=(10,20,30)
t
type(t)

tuple

In [ ]:
# 12) Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
t1=("apple","banana","cherry")
t1[0]

'apple'

In [ ]:
# 13)Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
t2=(1,2,3,2,4,2)
t2.count(2)

3

In [ ]:
# 14). Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t3=('dog', 'cat', 'rabbit')
t3.index("cat")

1

In [ ]:
# 15) Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

t4= ('apple', 'orange', 'banana')
for banana in t4:
  print("yes banana in t4")
else:
   ("Banana not in t4")

yes banana in t4
yes banana in t4
yes banana in t4

In [ ]:
# 16) Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it

set1={1,2,3,4,5}
set1
type(set1)

set

In [ ]:
set1

{1, 2, 3, 4, 5}

In [ ]:
# 17) Write a code to add the element 6 to the set {1, 2, 3, 4}

set2={1, 2, 3, 4}
set2.add(6)
set2

{1, 2, 3, 4, 6}

In [ ]:
# 18)  Write a code to create a tuple with the elements 10, 20, 30 and print it.

my_tup =(10,20,30)
print(my_tup)

(10, 20, 30)

In [ ]:
# 19)Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

t5=('apple', 'banana', 'cherry')
t5[0]

'apple'

In [ ]:
# 20)write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

t6=(1, 2, 3, 2, 4, 2)
t6.count(2)

3

In [ ]:
#  21) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

t7= ('dog', 'cat', 'rabbit')
t7.index("cat")

1

In [ ]:
# 22) Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
t8=('apple', 'orange', 'banana')
for banana in t8:
  print("yes banana in t8")
else:
   ("Banana not in t8")

yes banana in t8
yes banana in t8
yes banana in t8

In [ ]:
# 23) Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it
set2={1,2,3,4,5}
set2

{1, 2, 3, 4, 5}

In [ ]:
# 24)  Write a code to add the element 6 to the set {1, 2, 3, 4}.
set3={1,2,3,4,}
set3.add(6)
set3

{1, 2, 3, 4, 6}